This is my layout file


<!DOCTYPE html>
<html>
	<img src=/images/rose.jpg>
	<script src="/scripts/script.js"></script>
	<link rel="stylesheet" href="/styles/styles.css">
	
    <head>
        <title> My Title </title>
    </head>
    <body>
        <%=yield %>


    </body>
</html>